header,
main {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    font-family: "Helvetica", "Arial", sans-serif;
}

h1 {
    font-weight: bold;
    color: Indigo;
}

.photo {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 5px;
    border: 5px solid gray;
}

h2 { 
    margin: 0 auto;
    background-color: aquamarine;  
}

ul {
    display: inline-block;
    text-align: left;
}

code {
    text-align: left;
}